<div class="title">
  <h1>All restaurants</h1>
</div>

<% @restaurants.each do |resto| %>
<div class="restaurant-card">
  <img src="https://picsum.photos/300">
  <strong><%= resto.name %></strong>
  <%= link_to "See details", restaurant_path(resto.id), class: "btn btn-primary" %>
<% end %>
</div>
